.menu-container{
    display: grid;
    margin: 30px auto 0 auto;
    width: 70%;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 20px rgb(30,30,30);
}


.food{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.food-details > div:nth-child(1){
    font-weight: 700;
}

.food-details > div:nth-child(2){
    font-weight: 400;
    font-style: italic;
    font-size: 0.85em;
    margin: 5px 0;
}

.food-details > div:nth-child(3){
    font-weight: 700;
    font-size: 1.1em;
    color:  rgb(180, 11, 11);

}

.quantity-controller{
    display: grid;
    justify-items: right;
}

.quantity-controller > div:nth-child(1){
    font-weight: 700;
}
.quantity-controller > div:nth-child(1) > input{
    width: 50px;
    margin-left: 10px;
}

.quantity-controller > div:nth-child(2){
    display: grid;
    align-items: center;
    cursor: pointer;
    background-color: rgb(139, 0, 0);
    color: white;
    font-weight: 600;
    font-size: 0.85em;
    letter-spacing: 1.25px;
    padding: 0 30px;
    border-radius: 15px;  
}


.divider{
    display: block;
    height: 0.5px;
    width: calc(100%);
    background-color: rgb(221, 221, 221);
    margin: 20px 0;

}